{%  extends "base.j2" %}
{% block title %}Appointments{% endblock %}
{% block content %}
     
    <h1>APPOINTMENTS</h1>
         
        <form action="" method="">
			<fieldset>
				<legend>Appointment Information:</legend>
				<label>Patient ID:</label>
                    <input type="text" name="patient_id">
				<label>Vet ID:</label>
                    <input type="text" name="vet_id">
                <label>Appointment Type:</label>
                    <select  name="appointment_type">
						<option>SELECT</option>
                        <option value="regular">Regular</option>
                        <option value="consultation">Consultation</option>
                    </select>
				<br>
		        <label>Date:</label>
                    <input type="date" name="date_input">
                <br>
                <label>Start Time:</label>
                    <input type="time" name="start_time">
                <br>
				<label>End Time:</label>
                    <input type="time" name="end_time">
				
            </fieldset>
			<button class= "button" type="button" onclick="alert('This will (eventually) create an Appointment entry')">Add Appointment</button>
			
        </form>
     
		<h3>Appointments Table</h3>
		<table>
			<tr>
				<th>id</th>
				<th>Patient ID</th>
				<th>Vet ID</th>
				<th>Appointment Type</th>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
				<th style= "text-align: center;">Action</th>
			</tr>
			{% for appt in appointments %}
				<tr>
					{% for key in appt.keys() %}
					<td>{{appt[key]}}</td>
					{% endfor %}
					<td><button class= "update_button" type="button" onclick="alert('This will (eventually) allow update')">Update</button></td>
				</tr>
			{% endfor %}
		  
        </table>

{% endblock %}