{%  extends "base.j2" %}
{% block title %}Appointments{% endblock %}
{% block content %}
     
    <h1>APPOINTMENTS</h1>
         
        <form action="insert" method="post">
		<fieldset>
			<legend>Appointment Information:</legend>
				<input type="hidden" name="table name"  value="appointments" required>
			<label>Patient:</label>
			<select name="patient_id" required>
				<option value="">SELECT</option>
				{% for entry in dropdown1 %}
				<option value={{entry['patient_id']}}>{{entry['patient_id']}}  {{entry['patient']}}</option>
				{% endfor %}
			</select>               
			<label>Vet:</label>
			<select name="vet_id" required>
				<option value="">SELECT</option>
				{% for entry in dropdown2 %}
				<option value={{entry['vet_id']}}>{{entry['vet_id']}} Dr. {{entry['vet_last_name']}}</option>
				{% endfor %}
			</select>          
                    		
                	<label>Appointment Type:</label>
                    		<select  name="appointment_type" required>
					<option value="">SELECT</option>
                        		<option value="regular">Regular</option>
                        		<option value="consultation">Consultation</option>
                    		</select>
				<br>
		        <label>Date:</label>
                    		<input type="date" name="appointment_date" required>
                	<br>
                	<label>Start Time:</label>
                    		<input type="time" name="start_time" required>
                	<br>
			<label>End Time:</label>
                    		<input type="time" name="end_time" required>

            	</fieldset>
		<input class= "button" type="submit" value="Add Appointment">
			
        </form>
	<br>     
		<h3>Appointments Table</h3>
		<table>
			<tr>
				<th>id</th>
				<th>Patient ID</th>
				<th>Patient</th>
				<th>Vet ID</th>
				<th>Veterinarian</th>
				<th>Appointment Type</th>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
			</tr>
			{% for appt in appointments %}
				<tr>
					{% for key in appt.keys() %}
					<td>{{appt[key]}}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		  
        </table>

{% endblock %}
