{%  extends "base.j2" %}
{% block title %}Total Pet Database {% endblock %}
{% block content %}
        <h1>Total Pet Appointment Database</h1>
		<dl>
			<dt class="clinic"><a href = "/clinics">Clinics Table</a></dt>
			<dd>This page displays information about the Total Pet clinic. It also allows the user to Add or Update Clinic entries.</dd>
			<dt class="vets"><a href = "/vets">Veterinarians Table</a></dt>
			<dd>This page displays information about the veterinarians who work at the clinic. It also allows the user to Add, Update, or Delete Veterinarian entries.</dd>
			<dt class="client"><a href = "/clients">Clients Table</a></dt>
			<dd>This page displays information about the clients of the clinic. It also allows the user to Add or Update Client entries.</dd>
			<dt class="patient"><a href = "/patients">Patients Table</a></dt>
			<dd>This page displays information about the clinic's patients. It also allows the user to Add, Update, or Filter Patient entries. </dd>
			<dt class="appt"><a href = "/appointments">Appointments Table</a></dt>
			<dd>This page displays information about the clinic's appointments. It also allows the user to Add or Update Appointment entries.</dd>
			<dt class="appt"><a href = "/vets_patients">Veterinarians-Patients Table</a></dt>
			<dd>This page allows relationships between Patients and Veterinarians (a M:M relationship) to be Added or Deleted.</dd>
		</dl>
{% endblock %}
