{%  extends "base.j2" %}
{% block title %}Patients{% endblock %}
{% block content %}
	     
    <h1>PATIENTS</h1>
         
         <form action="insert" method="post">
            <fieldset style="position: relative;">
		<legend>Patient Information:</legend>
		<input type="hidden" name="table name"  value="patients" required>		
                <label>Name:</label>
                    <input type="text" name="patient_name" required>
		    <br>
		<label>Species:</label>
                    <input type="text" name="species" maxlength= "50" required>
		    <br>
                <label>*Breed:</label>
                    <input type="text" name="breed" maxlength= "50">
		    <br>
                <label>*Color:</label>
                    <input type="text" name="color" maxlength= "20">
                    <br>
                <label>Sex:</label>
                    <select  name="sex" required>
			<option value="">SELECT</option>
                        <option value="intact male">intact male</option>
                        <option value="neutered male">neutered male</option>
                        <option value="intact female">intact female</option>
                        <option value="spayed female">spayed female</option>
                        <option value="unknown">unknown</option>
               	    </select>
		    <br>            
		<label>*Date of Birth:</label>
                    <input type="date" name="date_of_birth" >
		<label>Client:</label>
			<select name="client_id" required>
				<option value="">SELECT</option>
				{% for entry in dropdown %}
				<option value={{entry['client_id']}}>{{entry['client_id']}}  {{entry['client']}}</option>
				{% endfor %}
			</select>
                    
	    	<div style="position: absolute; bottom: 0; right: 0; padding: 8px;"><em>* indicates optional entry field </em></div> 
        				    
            </fieldset>
	    
	    <input class= "button" type="submit" value="Add Patient">
	    <button class="filter_btn"><a href='/search' style="color: black;" type="button">Search/Filter</a></button>
	   
        </form>
     
		<h3>Patients Table</h3>
		<table>
          <tr>
			<th>id</th>
	        <th>Name</th>
	        <th>Species</th>
	        <th>Breed</th>
			<th>Color</th>
			<th>Sex</th>
			<th>Date of Birth</th>
			<th>Client</th>
			<th style= "text-align: center;">Action</th>
	      </tr>
	      {% for patient in patients %}
				<tr>
				{% for key in patient.keys() %}
				<td>{{patient[key]}}</td>
				{% endfor %}
				</tr>
			{% endfor %}
        </table>

{% endblock %}
