{%  extends "base.j2" %}
{% block title %}Veterinarians{% endblock %}
{% block content %}
    <h1>VETERINARIANS</h1>
          {% if error %}
              <p id="error_alert">Note: {{ error }} </p>
            {% endif %}
        <form action="insert" method="post">
            <fieldset style="position: relative;">
		<legend>Veterinarian Information:</legend>
		<input type="hidden" name="table name"  value="veterinarians" required>		

                <label>*First Name:</label>
                    <input type="text" name="vet_first_name" maxlength= "50" required>
				<br>
                <label>*Last Name:</label>
		    <input type="text" name="vet_last_name" maxlength= "50" required>
		<label>*Phone:</label>
                    <input type="tel" name="direct_phone" placeholder="555-555-5555" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" maxlength= "12" required>

                    <br> 
		<label>*Specialty:</label>
                    <select  name="specialty" required>
			<option value="">SELECT</option>
			<option value="Cardiology">Cardiology</option>
                        <option value="Critical Care Medicine">Critical Care</option>
			<option value="Dermatology">Dermatology</option>
			<option value="Diagnostic Imaging">Diagnostic Imaging</option>
                        <option value="Internal Medicine">Internal Medicine</option>
			<option value="Neurology">Neurology</option>
			<option value="Oncology">Oncology</option>
			<option value="Ophthalmology">Ophthalmology</option>
			<option value="Orthopedics">Orthopedics</option>
			<option value="Surgery">Surgery</option>   
		    </select>		
		<label>*Status:</label>
                    <select  name="employment_status" required>
			<option value="">SELECT</option>
			<option value="staff">Staff</option>
                        <option value="outside consultant">Outside Consultant</option>
		    </select>						

                <label>*E-mail:</label>
                    <input type="email" name="vet_email" maxlength= "100" required>

			<br>
                <label>Clinic:</label>
                    <select name="clinic_id" >
						<option value="">SELECT</option>
						{% for entry in dropdown %}
						<option value={{entry['clinic_id']}}>{{entry['clinic_id']}}  {{entry['clinic_name']}}</option>
						{% endfor %}
					</select>
                    
	    <div style="position: absolute; bottom: 0; right: 0; padding: 8px;"><em>* indicates required entry field </em></div>
            </fieldset>
		<input class= "button" type="submit" value="Add Veterinarian">
        </form>
    	<br> 
		<h3>Veterinarians Table</h3>
		<table>
			<tr>
				<th>id</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Phone</th>
				<th>Specialty</th>
				<th>Status</th>
				<th>E-mail</th>
				<th>Clinic</th>
				<th  style= "text-align: center;">Action</th>
			</tr>
			{% for vet in vets %}
				<tr>
				{% for key in vet.keys() %}
				<td>{{vet[key]}}</td>
				{% endfor %}

				<form action="delete" method="post">
                    <input type="hidden" name="table"  value="veterinarians" required>
				    <input type="hidden" name="id"  value={{vet['vet_id']}} required>
				<td><input class="del_button" type="submit" value="Delete"></td>
				</form>
				</tr>
			{% endfor %}
        	</table>






{% endblock %}
